.imageLogin{
    background: url('https://99quoteswallpapers.files.wordpress.com/2018/03/a1f9f-workout2bquotes2bfor2bman2b2528282529.jpg');
   background-position: center  ;
   background-size: cover;
}